html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.background-white {
  background-color: #FFFFFF;
}
h1 {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  font-size: 200px;
  text-align: center
}

h2 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 45px;
}

h3 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 32px;
}

.h1-line {
  color: $secondary-color;
  border-bottom: 3px solid $secondary-color;
  margin-top: 20px;
  margin-bottom: 40px;
}
