// Specific CSS for your show-page
.show-page {
  background-image: url("https://github.com/chancy23/Event-Dash/blob/master/assets/images/colorSplashBG.jpg?raw=true");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  font-family: "Bebas Neue", sans-serif;
};

.custom-height {
  height: 600px;
}

.full-height {
  display: flex;
  align-items: center;
  height: 35%;
}
