<div class="container">
  <h1 class="my-4" style="font-family: 'Bebas Neue', sans-serif; font-weight: 400; font-style: normal; font-size: 80px;">
    Tous nos Events
  </h1>
</div>

<div class="index-top-card mt-4 p-4 mb-5" <%= image_tag asset_path('index_image.jpg')%>>
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div id="cover">
        <form method="get" action="">
          <div class="tb">
            <div class="td">
              <input type="text" placeholder="Saisis ta ville ici !" required>
            </div>
            <div class="td" id="s-cover">
              <button type="submit">
                <div id="s-circle"></div>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Fiestas Grid -->
<div class="container mt-5">
  <%= render 'card' %>
</div>
