<!-- Banner -->
<div class="banner mt-4 p-5">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-10 col-md-6 text-center">
        <h1 class="entete">Préférez des soirées qui vous ressemblent</h1>
        <h2 class="tagline">Participez ou organisez des soirées pour se rencontrer</h2>
        </div>
    </div>
  </div>
</div>

<!-- Fiestas Grid -->
<div class="container">
  <h1 class="my-4">Soirées à la une!</h1>
  <%= render 'events/card' %>
</div>

<!-- Fiestas Footer in the layout -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
