<!-- Banner -->

<div class="banner mt-4 p-5" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.1)), url(https://www.civitatis.com/blog/wp-content/uploads/2023/05/festivales-musica-mas-esperados-verano.jpg);">
  <div class="container">
    <div class="row justify-content-center align-items-center";>
      <div class="col-10 col-md-6 text-center">
        <%= image_tag asset_path('AIR FIESTAS font style 250p.png'),style:"height:110px; margin-bottom: 10px; padding: 0;" %>
        <h2 style="margin-bottom: 60px;">La plateforme pour créer et réserver des soirées </h2>
        <%= link_to 'Voir toutes les soirées  🎉', events_path, class: 'button nav-link', style:"font-size:25px" %>
      </div>
    </div>
  </div>
</div>

 <!-- Fiestas Grid -->

<div class="container">
  <h1 class="my-4" style= "font-family:Bebas Neue, sans-serif;font-weight:400;font-style:normal;font-size:80px;">
  Soirées à la une!</h1>
  <%= render 'events/card' %>
</div>


<!-- Fiestas Footer in the layout -->


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
