<div class="container">
  <h1 class="mt-4 mb-4" style= "font-family:Bebas Neue, sans-serif;font-weight:400;font-style:normal;font-size:80px;">Mes réservations</h1>
  <% if @reservations.any? %>
     <%= render 'reservation-card' %>
</div>
  <% else %>
    <p class="text-center">Vous n'avez pas encore de réservations.</p>
  <% end %>
</div>
