$button-padding: 8px 24px;
$button-border-radius: 50px;
$transition-duration: 0.3s;
$transition-timing: ease;
$text-decoration: none;

.button {
  background-image: linear-gradient(0deg , #3f5efb, #fc466b);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 45px;
  max-width: 500px;
  padding: $button-padding;
  margin: 0 auto;
  // background-color:$mixed-pink-color;
  border-radius: $button-border-radius;
  box-shadow:0 0 0 10px #ffffffeb;
  transition: background-color $transition-duration $transition-timing, color $transition-duration $transition-timing, opacity $transition-duration $transition-timing;

  &:hover {
    background-color: $mixed-pink-color;
    color: $primary-color;
    opacity: 0.7;
    text-decoration: $text-decoration;
  }
}
