$secondary-color: #1DA272;
$primary-color: #F8F2E9;
$button-padding: 8px 24px;
$button-border-radius: 50px;
$transition-duration: 0.3s;
$transition-timing: ease;
$fourth-color:#E26D74;
$text-decoration: none;


.button {
  background-color: $fourth-color;
  color: $primary-color;
  padding: $button-padding;
  border-radius: $button-border-radius;
  transition:$transition-duration $transition-timing;
  text-decoration: $text-decoration;
  opacity: 1;
  display: inline-block;

  &:hover {
    background-color: $fourth-color;
    color: $primary-color;
    opacity: 0.7;
    text-decoration: $text-decoration;
  }
}
