.navbar-lewagon {
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  vertical-align: middle;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  vertical-align: middle;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none; /* Supprime le soulignement par défaut des liens */
  color: #000; /* Couleur de texte par défaut */
  transition: color 0.3s ease; /* Animation de transition pour la couleur */

  &:hover,
  &:focus,
  &:active {
    color: #f415da; /* Couleur rose pour le survol, le focus et l'activation */
    text-decoration: none; /* Supprime le soulignement par défaut des liens lors du survol, du focus et de l'activation */
  }
}
