.navbar-lewagon {
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  vertical-align: middle;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  vertical-align: middle;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none; /* Supprime le soulignement par défaut des liens */
  color: #d30c7d;; /* Couleur de texte par défaut */
  transition: color 0.3s ease; /* Animation de transition pour la couleur */
  text-decoration: none; /* Supprime le soulignement par défaut des liens lors du survol, du focus et de l'activation */
  }

a.nav-link{
  color: #d30c7d;
  :hover {
    color: #d30c7d;
  }
  :active {
    color: #d30c7d;
  }
  :focus {
    color: #d30c7d;
  }
}
