$button-color: white;
$secondary-color: #1DA272;
$primary-color: #F8F2E9;
$button-padding: 8px 24px;
$button-border-radius: 50%;
$transition-duration: 0.3s;
$transition-timing: ease;

.button {
  color: $button-color;
  padding: $button-padding;
  border-radius: $button-border-radius;
  background-color: $secondary-color;
  transition: background-color $transition-duration $transition-timing;

  &:hover {
    background-color: $primary-color;
    color: $button-color;
  }
}
