.show-page {
  .container {
    margin-left: 0 !important;
    margin-right: 0 !important;
    background-color: rgb(255, 255, 255);
    margin-top: 50px !important;
    margin-bottom: 50px !important;
  }

  .img-fluid {
    border-radius: 20px !important;
  }

  .badge {
    background-color: rgb(249, 21, 131);
    color: rgb(255, 255, 255);
    font-size: 12px;
    border-radius: 12px;
    font-family: Arial, sans-serif;
  }

  .description {
    color: black;
    font-size: 12px;
    font-family: Arial, sans-serif;
    margin-bottom: 15px; /* Uniform spacing */
  }

  .font-weight-bold {
    color: #000000;
    text-align: left;
    font-weight: bold;
    font-family: Arial, sans-serif;
    font-size: 18px;
    padding-bottom: 10px;
    margin-bottom: 15px; /* Uniform spacing */
  }

  // Styliser le texte de la date, du nom de l'événement, de l'adresse, de l'inscription et de l'organisateur
  .text-location,
  .event-status,
  .event-organizer,
  .text-price {
    text-align: left;
    color: #131313;
    font-size: 12px;
    font-family: 'Arial', sans-serif;
    margin-bottom: 15px; /* Uniform spacing */
  }

  // Uniformiser les boutons
  .btn {
    background-color: rgb(88, 88, 88);
    color: white;
    border-radius: 0.25rem;
    font-size: 12px;
    font-family: Arial, sans-serif;
    padding: 5px;
    margin-top: 15px;

    &:hover {
      background-color: rgb(249, 21, 131);
    }
  }
}
