// Variables
$third-color: #040404;
$footer-height: 100px;
$footer-padding: 0px 50px;
$footer-color: rgba(0, 0, 0, 0.3);
$link-color: $fourth-color;
$link-opacity: 0.6;
$link-hover-opacity: 1;
$link-font-size: 24px;
$link-padding: 0px 10px;
$heart-color: #D23333;

// SCSS Code
.footer {
  background: $third-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $footer-height;
  padding: $footer-padding;
  color: $footer-color;

  .footer-links {
    display: flex;
    align-items: center;

    a {
      color: $link-color;
      opacity: $link-opacity;
      text-decoration: none;
      font-size: $link-font-size;
      padding: $link-padding;

      &:hover {
        opacity: $link-hover-opacity;
      }
    }
  }

  .fa-heart {
    color: $heart-color;
  }

  .footer-copyright {
    color: $primary-color;
  }
}
